Flask==3.0.0
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.7.4
Flask-Migrate==4.0.4
Flask-Limiter==4.1.1
python-dotenv==1.0.0
psycopg2-binary==2.9.11
gunicorn==22.1.0
Flask-Caching==2.0.2
redis==4.5.5
Werkzeug==3.0.1